/* Definições das variáveis para o Tema Escuro */
:root {
  --cor-fundo-dark: #111111;
  --cor-texto-dark: #f0f0f0;

  --navbar-fundo-dark: rgba(59, 59, 59, 0.8);
  --navbar-texto-dark: #ffffff;
  --navbar-botao-fundo-dark: #b6b6b6;
  --navbar-botao-texto-dark: #ffffff;
  --navbar-botao-hover-fundo-dark: #FFFFFF;
  --navbar-botao-hover-texto-dark: #292929;
  --navbar-img-borda-dark: 2px #0d007d;
  --sombra-navbar-dark: 0 -4px 8px rgba(255, 255, 255, 0.5), 0 4px 8px rgba(255, 255, 255, 0.5);

  --footer-fundo-dark: #434343;
  --footer-texto-dark: #f0f0f0;
  --footer-icone-cor-dark: #f0f0f0;
  --footer-icone-hover-cor-dark: #007bff;

  --botao-fundo-dark: #4e4e4e;
  --botao-texto-dark: #ffffff;
  --botao-hover-fundo-dark: #666666;
  --botao-hover-texto-dark: #ffffff;
  --link-cor-dark: #1e90ff;
  --link-hover-cor-dark: #0d76d8;
  --borda-cor-dark: #555555;

  --input-fundo-dark: #555;
  --input-texto-dark: #f0f0f0;
  --input-borda-dark: #777;
  --alerta-fundo-dark: #dc3545;
  --alerta-texto-dark: #f0f0f0;
}

/* Definições das variáveis para o Tema Claro */
:root {
  --cor-fundo-light: #cecece;
  --cor-texto-light: #333333;

  --navbar-fundo-light: rgba(187, 186, 186, 0.8);
  --navbar-texto-light: #333333;
  --navbar-botao-fundo-light: #e6e6e6;
  --navbar-botao-texto-light: #333333;
  --navbar-botao-hover-fundo-light: #d4d4d4;
  --navbar-botao-hover-texto-light: #0d007d;
  --navbar-img-borda-light: 2px #292929;
  --sombra-navbar-light: 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);

  --footer-fundo-light: #d9d9da;
  --footer-texto-light: #333333;
  --footer-icone-cor-light: #333333;
  --footer-icone-hover-cor-light: #007bff;

  --botao-fundo-light: #f2f2f2;
  --botao-texto-light: #333333;
  --botao-hover-fundo-light: #e6e6e6;
  --botao-hover-texto-light: #333333;
  --link-cor-light: #007bff;
  --link-hover-cor-light: #0056b3;
  --borda-cor-light: #dddddd;

  --input-fundo-light: #fff;
  --input-texto-light: #333;
  --input-borda-light: #ccc;
  --alerta-fundo-light: #dc3545;
  --alerta-texto-light: #fff;
}
