.navbar {
  background-color: var(--navbar-fundo);
  color: var(--navbar-texto);
  box-shadow: var(--sombra-navbar);

  .navbar-brand {
    color: var(--navbar-texto);
  }

  .navbar-toggler {
    border-color: var(--navbar-botao-texto);
  }

  .navbar-toggler-icon {
    background-image: none; // Bootstrap já fornece um ícone padrão
  }

  .nav-link {
    color: var(--navbar-texto);

    &:hover {
      color: var(--navbar-botao-hover-texto);
    }
  }

  .bi {
    color: var(--navbar-texto);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--navbar-botao-hover-fundo);
  }

  // Adicione quaisquer outros estilos específicos da navbar aqui
}
